@charset "UTF-8";

/* Navigation bar code, background code, and inline block code adapted from W3 Schools */



.main{
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);    /*background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body {
	margin:0;
}


img:hover{
    transform: scale(1.4);
    transition: 0.5s;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em; 
}

h2 { 
	font-family: 'Oswald', sans-serif;
	font-size: 2.0em;
}

h3 { 
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
}


p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em; 
}

.change_font{
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

.button_format{
    background-color: #4CAF50; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}


.stem_right_bg_white{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;

}

.stem_left_bg_white{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;

}


.img_radius{
	border-radius: 10px;
}

.span {
  display: inline-block;
  width: 100%;
  padding: 5px;
}


.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.center{
	display: flex; 
	justify-content: center; 
	/* align-items: top; */
}




